@model HotelBookingModel

<div class="container">
    <div class="row">
        <div class="col-12">
            <p>@Model.Id: @Model.GuestName</p>
            <p>Start Date: @Model.DateStart</p>
            <p>End Date: @Model.DateEnd</p>
        </div>
    </div>
</div>